html, body {
  height: 100%;
  text-rendering: optimizeLegibility;
}

#__next {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100%;
}

#__next>main, #__next>.container {
  flex-grow: 1;
}

header, main {
  flex-shrink: 0;
}